<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/print.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
	<script src="https://unpkg.com/jsbarcode@latest/dist/JsBarcode.all.min.js"></script>
     <script src="scripts/index.js"></script>
    <script src="scripts/table.js"></script>
        <script src="scripts/JsBarcode.all.min.js"></script>



   <title>bem vindo! {{u}}</title>
   
</head>
<body>
 <div id="contneinerLoading" style="display: none;">
    <img id="loading" src="img/carregando.gif" alt="Loading...">
  </div>

    {{{body}}}

</body>

 
    {{>footer}}
 
</html>
</html>