<title>Placa de Validade RM / login</title>
<h1>Placa de Validade RM</h1>
<div id="bodyIndex">
<div id="tudoIndex">
 
  <div id="divFormLogin">
   <div id="divLogo"> 
  
     
    <img src="./img/logo.png"  id="logo">
   </div>
    <form id="loginForm" onsubmit="return false;">
      <div id="conteinerUSer">
        <img src="./img/user.png" id="iconUser"/>
        <input type="text" id="u" placeholder="NOME" />
      </div>
      <div id="conteinerSenha">
        <img src="./img/locked.png" id="iconUser"/>
        <input type="password" name="" id="s" placeholder="SENHA" />
      </div>
      <button type="submit" onclick="login()" id="btnLogin">LOGIN</button>
    </form>
  </div>
</div>
</div>
 
 <script>
   function login() {
     console.log("Iniciando o login...");

     const loading = document.getElementById("contneinerLoading");
     loading.style.display = "flex";

     // Obtém os valores de login do formulário
     const u = document.getElementById("u").value;
     const s = document.getElementById("s").value;
   //  alert('u:'+u+',s: '+s)
     // Requisição de login
     fetch("/login", {
       method: "post",
       headers: {
         "Content-Type": "application/json",
       },
       body: JSON.stringify({ u, s }),
     })
       .then((response) => response.json())
       .then((data) => {
         if (data.success) {
           console.log(data.token)
            // Salva o token no localStorage
            localStorage.setItem('authToken', data.token);
         
           console.log("Login bem-sucedido. Redirecionando...");
           
           console.log("fetch-> get-> '/placa'")
           // Requisição para /placa com o JWT
           const token = localStorage.getItem('authToken');
 
        //  alert("Login bem-sucedido. Redirecionando '/placa'...");
           window.location.href = "/placa"; // Redirecionar para a página de login

         } else {
           console.error("Erro:", data.message);
           alert(data.message);
           loading.style.display = "none"; // Ocultar carregamento
         }
       })
       .catch((error) => {
         console.error("Erro ao processar login:", error);
         alert("Ocorreu um erro ao processar o login.");
         loading.style.display = "none"; // Ocultar carregamento
        // window.location.href = "/"; // Redirecionar para a página de login
       });
   } 
   
 </script>