<title>Placa de Validade RM / Placa</title>
<div id="tudo">

  <form id="inputForm">
    <input
      type="number"
      id="inputNumber"
      maxlength="13"
      placeholder="EAN ou Código Interno"
    />
    <input type="date" id="inputDataValidade" />
    <div id="buttons">
      <button type="button" onclick="enviarDados()">Gerar Placa</button>
      <button id="printButton" onclick=" printPdf()">ImprimirPDF</button>
      <button onclick="cad()">Cadastro</button>
      <button onclick="sair()">Sair</button>
    </div>
  </form>

  <table id="tb">
    <tr id="t0"><th id="a0">Info Impressão</th>
      <td id="b0">dataHora</td></tr>
    <tr><th id="a1" colspan="2">info</th></tr>
    <tr><th id="a2">CÓDIGO DO PRODUTO</th> <th id="b1">MÊS/ANO</th></tr>
    <tr><td id="a3">codint</td>
      <td id="b2" rowspan="8">mes</td></tr>
    <tr><th id="a4">CÓDIGO EAN</th></tr>
    <tr><td id="a5">ean</td></tr>
    <tr ><td id="a6"class="libre-barcode-ean13-text-regular">ean</td></tr>
    <tr><th id="a7">DATA DO RECEBIMENTO</th></tr>
    <tr><td id="a8">dataDeRecebimento</td></tr>
    <tr><th id="a9">DATA DE VALIDADE</th></tr>
    <tr><td id="dataValidade">dataValidade</td></tr>
    <tr><th id="a11">DIAS PARA VENCER</th>
      <td id="b3" rowspan="4">ano</td></tr>
    <tr><td id="a12">diasParaVencer</td></tr>
    <tr><th id="a13">CONFERENTE</th></tr>
    <tr><td id="a14">username</td></tr>
  </table>

</div
  <!--Scripts-->
<div>
  <script>
    // Quando o DOM estiver completamente carregado, executa a função
    document.addEventListener('DOMContentLoaded', () => {
      const token = localStorage.getItem('authToken');

      // Verifica se o token está presente
      if (!token) {
        console.error("Token não encontrado no localStorage");
        alert("Token não encontrado");
        return;  // Interrompe a execução se o token não for encontrado
      }

      // Faz a requisição após o carregamento do DOM
      fetch('/placa', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': "Bearer " + token
        }
      })
      .then(response => {
        console.log('Status da resposta:', response.status);
        if (!response.ok) {  // Se a resposta não for OK, rejeita com erro
          throw new Error('Erro na requisição com status: ' + response.status);
        }
        return response.json();
      })
      .then(data => {
        console.log('Resposta do servidor:', data);

        // Aqui é onde o nome será inserido na célula da tabela
        const nameElement = document.getElementById('a14');
        if (nameElement && data.user.name) {
          nameElement.textContent = data.user.name;  // Substitui o texto da célula com o valor de data.name
        } else {
          console.error("Elemento ou 'data.name' não encontrado.");
        }
      })
      .catch(error => {
        console.error('Erro na requisição:', error);
        alert("Erro: " + error.message);  // Exibe o erro no alert
      });
    });
  </script>


</div>
<div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</div>
<Script>
  


async function enviarDados(){
  const d = document.getElementById("inputDataValidade").value;
const n = document.getElementById("inputNumber").value;
console.log("Elemento Data:", d);
console.log("Elemento Número:", n);
 // Mostrar a animação de carregamento
  loading.style.display = "flex";

  if(n==""|| d== ""){
    return alert("Verifique os dados informados")
  }
  const token = localStorage.getItem('authToken');
   fetch('/placa/pesquisa', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': "Bearer " + token
        },
                  body: JSON.stringify({ d, n }) // Envia os dados ao servidor

      })
      .then(response => {
        console.log('Status da resposta:', response.status);
        if (!response.ok) {  // Se a resposta não for OK, rejeita com erro
          throw new Error('Erro na requisição com status: ' + response.status);
        }
        return response.json();
      })
      .then(data => {
        console.log('Resposta do servidor:', data);

        // Aqui é onde o nome será inserido na célula da tabela
        const nameElement = document.getElementById('a14');
        if (nameElement && data.user.name) {
          nameElement.textContent = data.user.name;  // Substitui o texto da célula com o valor de data.name
        } else {
          console.error("Elemento ou 'data.name' não encontrado.");
        }

        console.log("\n",data.result.info,"\n")

        let info = document.getElementById('a1');
        info.innerText = data.result.info;
        let codint = document.getElementById('a3');
        codint.innerText = data.result.codint;
        let ean = document.getElementById('a5');
        ean.innerText = data.result.ean;
        let codBarras = document.getElementById('a6');
        codBarras.innerText = data.result.ean;
        let dataRecebimento = document.getElementById('a8');
        dataRecebimento.innerText = data.result.dataRecebimento;
        let dataValidade = document.getElementById('dataValidade');
        dataValidade.innerText = data.result.dataValidade;
        let diasParaVencer = document.getElementById('a12');
        diasParaVencer.innerText = data.result.diasParaVencer;
        let dia = document.getElementById('b2');
        dia.innerText = data.result.dia;
        let ano = document.getElementById('b3');
        ano.innerText = data.result.ano;
        

      })
      .catch(error => {
        console.error('Erro na requisição:', error);
        alert("Erro: " + error.message);  // Exibe o erro no alert
      });
   
  
}

</Script>