@media (max-width: 720px) {
  table {
    width: 100vw;
    height: 60vh;
    gap: 0px;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
  }

  #formPesquisa {
    padding: 20px;
    background-color: #fff0;


    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

  }

  #divFormLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*background-color: aqua;*/
    width: 80%;
    height: 90%;
    min-width: 320px;
  }

  form {
    /* background-color: rgb(16, 58, 58);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;

  }

  #tudo>#divFormCadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Espaço igual entre os botões */
    min-width: 350px;
  }

  #divFormCadastro {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    /* Espaço igual entre os botões */
    min-width: 350px;
  }

  #u,
  #s,

  #inputInfo {
    padding: 3px;
    margin: auto;
    margin-top: 5px;
    border: #004080 1px solid;
    height: 40px;
    padding: 5px;
  }

  form button {
    width: 95%;
  }

  /*
  #u,
  #s {
      border: #004080 1px solid;
     height: 40px;
  }*/

  #btnLogin:active {
    display: block;
    ;
    padding: 2px;
    border: orange 1px solid;
    box-shadow: inset -1px -1px -1px #fff;
    width: 83%;
    background-color: #004080;
    color: orange;
    text-align: center;
    border-radius: 3px;
    transition: 120ms;
  }

  ::placeholder {
    padding: 5px;
    text-align: center;
  }




  #loginForm input {
    margin: 4px;
    padding: 10px;
    width: 95%
  }

  #inputForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    /*border: #004080 1px solid;*/
  }

  / #inputForm>button {
    width: 100px;
    justify-content: space-around;
  }

  #buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 5px;
  }

  tr>#a1 {
    font-size: 1.3em;
    width: 100vw;
    height: 40px;
  }

  #dataValidade {
    font-size: 1em;
    font-weight: bold;
  }

  #t0 {
    display: none;
  }

  #b2 {
    font-size: 2em;
  }

  #b3 {
    font-size: 2em;
  }


  footer {
    opacity: 10%;
  }

  #contneinerLoading {
    position: absolute;
    display: flex;
    background-color: #004080bc;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
  }

  #loading {
    width: 30%;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }