@media print {
  * {
    margin: 0mm;
  }



  @page {
    size: A4 landscape;
    /* Define tamanho A4 em paisagem */
    margin: 0mm;
    /* Remove todas as margens padrão */
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  #inputForm {
    display: none;
  }

  table {
    width: 98vw;
    height: 99vh;
  }

  #b2 {
    font-size: 19em !important;
    margin: 0px;
    padding: 0px;
  }

  #b3 {
    font-size: 3em;
    margin: 0px;
    padding: 0px;
    height: auto;
  }

  #tr1 {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;

  }

  #a1 {
    font-size: 8em;
    background-color: white;
    max-height: 500px;
    line-height: 0.8;
    height: 100%;
    display: -webkit-box;
    /* Cria um container flexível */
    -webkit-box-orient: vertical;
    /* Define a orientação vertical */
    -webkit-line-clamp: 2;
    /* Limita a 2 linhas */
    overflow: hidden;
    /* Oculta o conteúdo além do limite */
    text-overflow: ellipsis;
    /* Adiciona reticências (...) quando o texto é cortado */
  }

  #a2,
  #a4 {
    font-size: 0.8em;
    background-color: #000000;
    color: #fff;
  }

  #a6 {
    transform: scaleX(7);
  }

  footer {
    display: none;
  }
}